In [1]:
import pandas as pd
import numpy as np
import fbprophet as ph
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [2]:
dataSource = "trp.csv"
print(dataSource)

trp.csv

In [3]:
df = pd.read_csv(dataSource)

In [4]:
df.shape

(2583, 7)

In [5]:
df.head(5)

,Unnamed: 0,Suchwert,3,NCG,GPL,TTF,Unnamed: 5
0,0,Blatt,NaN,NCG,GPL,TTF,NaN
1,1,Tradingday\r\nHandelstag,Liefertag,NCG,GPL,TTF,NaN
2,2,2011-06-02 00:00:00,2011-06-03 00:00:00,22.99,23.3,22.77,NaN
3,3,2011-06-03 00:00:00,2011-06-04 00:00:00,22.96,21.75,22.75,NaN
4,4,2011-06-04 00:00:00,2011-06-05 00:00:00,22.97,22.69,22.75,NaN

In [6]:
df=df.drop([0, 1]).reset_index()
df = df.rename(columns={'Suchwert': 'Tradingday', '3': 'Deliverday'})
df=df.drop(['Unnamed: 5', 'Unnamed: 0', 'Tradingday'], axis=1)
df=df.dropna()
df.NCG = pd.to_numeric(df.NCG)
df.GPL = pd.to_numeric(df.GPL)
df.TTF = pd.to_numeric(df.TTF)
df.Deliverday = pd.to_datetime(df.Deliverday)

In [7]:
df_ncg = df[['Deliverday', 'NCG']]
df_ncg = df_ncg.rename(columns={'Deliverday': 'ds', 'NCG': 'y'})

In [8]:
df_ncg_1116 = df_ncg[df_ncg.ds < datetime.datetime(2016,12,31,0,0,0)]

In [9]:
# Training for ncg first
m_ncg = ph.Prophet(daily_seasonality=True)
m_ncg.fit(df_ncg_1116)

NameError: name 'df_ncg_1117' is not defined

In [ ]:
future_ncg = m_ncg.make_future_dataframe(freq='D',periods=365*2)
forecast_ncg= m_ncg.predict(future_ncg)

In [ ]:
fig = m_ncg.plot(forecast_ncg, xlabel='Year', ylabel='Price')
df_ncg.plot(x='ds', y='y', ax=fig.axes[0], colormap='autumn')

In [ ]:
component_fig = m_ncg.plot_components(forecast_ncg)